<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NovaPoshta" providerName="System.Data.SqlClient" connectionString="workstation id=NovaPoshta.mssql.somee.com;packet size=4096;user id=v_duminike_SQLLogin_1;pwd=566dst1uyx;data source=NovaPoshta.mssql.somee.com;persist security info=False;initial catalog=NovaPoshta" />
	</connectionStrings>
</configuration>